/* Core styles for mobile and wide */

@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
:root {
    font-family: 'Gotham Rounded';
    font-size: large;
    color: var(--color-text-light);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient( to right, var(--color-background-dark), var(--color-background-light));
}

.inner-container {
    margin: 0 2rem;
    border: none;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}