input[type=text],
input[type=date],
input[type=number],
select {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
}

textarea {
    resize: both;
    border-radius: 0.5rem;
    width: 25vw;
    height: 3rem;
}